body {
  background-color: black;
  color:white;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}
.cell img {width:30px; height:auto}

.modal{
  background-color: #3976de;
  width: 233px;
  height: 84px;
  position: absolute;
  left: 97px;
  bottom: 316px;
  border-radius: 38px;
  padding: 16px;
  display: none;
}

button {
  position: absolute;
  left : 153px;
  bottom: 44px
}

/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */